<div class="houses-grid-container">
  <a routerLink="/houses/gryffindor" class="house-card gryffindor-card">
    <img
      src="https://static.wikia.nocookie.net/harrypotter/images/a/aa/Gryffindor_Clear_BG.png"
      alt="Gryffindor Emblem"
      class="house-emblem"
    />
    <h3 class="house-title">Gryffindor</h3>
  </a>

  <a routerLink="/houses/slytherin" class="house-card slytherin-card">
    <img
      src="https://static.wikia.nocookie.net/harrypotter/images/0/00/Slytherin_Clear_BG.png"
      alt="Slytherin Emblem"
      class="house-emblem"
    />
    <h3 class="house-title">Slytherin</h3>
  </a>

  <a routerLink="/houses/ravenclaw" class="house-card ravenclaw-card">
    <img
      src="https://static.wikia.nocookie.net/harrypotter/images/7/70/Ravenclaw_Clear_BG.png"
      alt="Ravenclaw Emblem"
      class="house-emblem"
    />
    <h3 class="house-title">Ravenclaw</h3>
  </a>

  <a routerLink="/houses/hufflepuff" class="house-card hufflepuff-card">
    <img
      src="https://static.wikia.nocookie.net/harrypotter/images/a/a2/Hufflepuff_Clear_BG.png"
      alt="Hufflepuff Emblem"
      class="house-emblem"
    />
    <h3 class="house-title">Hufflepuff</h3>
  </a>
</div>
